.col-md-12
  .card
    .header
      %h4.title Notes
    .content.table-responsive.table-full-width
      %table.table.table-hover.table-striped
        %thead
          %th Note
          %th Actions
        %tbody
          - @notes.each do |note|
            %tr
              %td 
                %a{:href => "/notes/#{note.id}"}
                  = note.title
              %td
                %a.btn.btn-small.btn-primary{:href => "/notes/#{note.id}"} Show
                %a.btn.btn-small.btn-primary{:href => "/notes/#{note.id}/edit"} Edit
                %a.btn.btn-small.btn-primary{:href => "/notes/#{note.id}/delete"} Delete
