%h1 Notes

%h3
  %a{:href => "/notes/new"} Create Note

%table
  %thead
    %tr
      %th
        Note
      %th
        Actions
  %tbody
    - @notes.each do |note|
      %tr
        %td 
          %a{:href => "/notes/#{note.id}"}
            = note.title
        %td
          %a{:href => "/notes/#{note.id}"} Show
          %span -
          %a{:href => "/notes/#{note.id}/edit"} Edit
          %span -
          %a{:href => "/notes/#{note.id}/delete"} Delete
